 
body {
    margin: auto;   
    font-size: 15pt;
    background: #32292F;
    font-family: Arial, Helvetica, sans-serif;
}

/* -----------sa nav button sa taas---------------------------*/
nav {
    text-align: right;
    width: 100%;
    background-color: #32292F;
    padding: 1px;
  }
ul{
  padding-right: 130px;
}

li a {
  margin: auto;
  margin-left: 140px;
   
  text-decoration: none;
  /*width: 1372px;
  height: 70px;
  left: 46px;
  top: 32px;*/

  width: 246px;
  height: 53px;
  left: calc(50% - 246px/2 + 53px);
  top: calc(50% - 53px/2 - 436.5px);

  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 35px;
  text-align: right;
  color: #F0F7F4;
  
}
nav a {
  color: #F0F7F4;
}
nav li {
  display: inline-block;
   
} 
.link a:hover{
    color: gray;
    transition: çolor 0.3s ease-in-out
}

/*-------------------search area ito, ilalim ng nav bar---------------------*/

div.search-field {
  transform: translate(120px);
}
h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 106px;
  color: #F0F7F4;

  text-shadow: 0px 15px 15px rgba(16, 15, 15, 0.25);

  display: inline-block;
}
.search-field {
  width: 469px;
  height: 49px;
  padding-left: 10px;
  left: 889px;
  top: 182px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  transform: translate(730px);

  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 35px;
  text-align: left;


  color: rgba(240, 247, 244, 0.75);
}

/* -----------mga card or boxes ng Subjects---- */
main {
  gap: 103px;
}

ol {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 103px;
  
  list-style: none;
  justify-content: center;
  /* don't
  width: 357px;
  height: 433px;*/
}


main ol li {
  /*--CARD/BOX PART */
  width: 357px;
  height:433px;
  
  border-radius: 35px;
  cursor: pointer;
  background: #C4C4C4;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);


  will-change: transform;
  transition: transform 150ms ease;
  /*left: 81px;
  top: 269px;*/
}
main ol li h3 {
 /* width: 164px;
  height: 32px;
  left: calc(50% - 164px/2 - 545px);
  top: calc(50% - 32px/2 + 16px);*/

  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500px;
  font-size: 24px;
  line-height: 35px;
  text-align: left;
  color: #32292F;
}
main ol li hr {
  border: 3px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}
ol li p {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 265;
  font-size: 20px;
  line-height: 29px;

color: #000000;
}


ol li:hover {
  z-index: 1;
  transform: scale(1.1);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
}

ol li a {
  text-decoration: none;
  color: inherit;
}

ol li img {
  display: block;
  width: 285px;
  height: 162px;
  mix-blend-mode: multiply;
  border-radius: 5px;
  margin-left: 36px;
  margin-right: 36px;
  margin-top: 54px;
}

 