 
body {
    font-size: 15pt;
    background: #705D55;
    font-family: Arial, Helvetica, sans-serif
}

/* sa nav button sa taas */
#mainheader {
  text-align: right;
  padding: 10px;
  width: 80%;
  margin: 0 auto;
}
#gap a {
  margin-left: 140px;
  text-decoration: none;
  width: 1372px;
  height: 70px;
  left: 46px;
  top: 32px;
}
nav a {
  color: #F0F7F4;

}

nav li {
  display: inline-block;

}
.search-field{
  float: right;
  margin-bottom: 50px;
}

/* mga box */
ol {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 80px;
  padding: 24px;
  list-style: none;
  justify-content: center;
}

main {
  padding-bottom: 80px;
  transform: translate(8%, 25%);
  
}


ol li {
  padding: 24px;
  border-radius: 35px;
  cursor: pointer;
  color: #000000;
  
  font-style: normal;
  font-weight: 265;
  font-size: 20px;
  line-height: 29px;

  background: #C4C4C4;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  

  will-change: transform;
  transition: transform 150ms ease;

  width: 257px;
  height:333px;
  left: 81px;
  top: 269px;
}

ol li:hover {
  z-index: 1;
  transform: scale(1.1);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
}

ol li a {
  text-decoration: none;
  color: inherit;
}

ol li img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  position: fixed;
}

input {
  border-radius: 5%;
}
